body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #e04677; /* YouTube red color */
    color: #fff;
    text-align: center;
    padding: 10px;
}

h1 {
    margin: 0;
}

#videos {
    margin: 20px;
}

.video-card {
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}

iframe {
    width: 560px;
    height: 315px;
}

h3 {
    margin-top: 10px;
    font-size: 18px;
}

p {
    color: #777;
}

footer {
    background-color: #e04677;
    color: #fafafa;
    text-align: center;
    padding: 10px;
}


